<div class="loading-overlay" [@fadeOut]="loading ? 'visible' : 'hidden'">
  <div class="load-container">
    <div class="square-container">
        <div class="square square1"></div>
        <div class="square square2"></div>
        <div class="square square3"></div>
        <div class="logo">
        <img src="WSBlogo.png" alt="Logo">
        </div>
    </div>
    <span class="loading">Loading analysis...</span>
  </div>
</div>

<div class="container">
  <mat-card class="card">
    <button mat-mini-fab aria-label="Home button" (click)="backToHome()" class="button">
      <mat-icon>home</mat-icon>
    </button>
    <h1 class="title">{{ stockTicker }} Analysis</h1>
    <mat-divider></mat-divider>

    <!-- Top Row - Stats -->
    <div class="stats-container">
      <div class="stat-box">
        <h3>Average Sentiment</h3>
        <p 
        class="stat-value" 
        [ngClass]="{
          'sentiment-overw-neg': avgSentNumber >= -1 && avgSentNumber <= -0.9,
          'sentiment-very-neg': avgSentNumber > -0.9 && avgSentNumber <= -0.7,
          'sentiment-neg': avgSentNumber > -0.7 && avgSentNumber <= -0.3,
          'sentiment-mostly-neg': avgSentNumber > -0.3 && avgSentNumber < -0.1,
          'sentiment-slightly-neg': avgSentNumber >= -0.1 && avgSentNumber <= -0.05,
          'sentiment-mixed': avgSentNumber > -0.05 && avgSentNumber < 0.05,
          'sentiment-slightly-pos': avgSentNumber >= 0.05 && avgSentNumber <= 0.1,
          'sentiment-mostly-pos': avgSentNumber > 0.1 && avgSentNumber <= 0.3,
          'sentiment-pos': avgSentNumber > 0.3 && avgSentNumber <= 0.7,
          'sentiment-very-pos': avgSentNumber > 0.7 && avgSentNumber <= 0.9,
          'sentiment-overw-pos': avgSentNumber > 0.9 && avgSentNumber <= 1
        }">{{ avgSentNumber }} ({{ avgSentString }})</p>
      </div>
      <div class="stat-box">
        <h3>Total Posts</h3>
        <p class="stat-value">{{ posts.length }}</p>
      </div>
      <div class="stat-box">
        <h3>Average Confidence</h3>
        <p class="stat-value" [ngClass]="{
          'confidence-low': avgConfidence < 33,
          'confidence-medium': avgConfidence >= 33 && avgConfidence < 80,
          'confidence-high': avgConfidence >= 80
        }">{{ avgConfidence }}%</p>
      </div>
    </div>

    <!-- Line Graph Section -->
    <div class="graphs-container">
      <div class="graph line">
        <!-- Title + Toggle in a flex container -->
        <div class="toggle-container">
          <h3>Sentiment Over Time</h3>
          <mat-slide-toggle [(ngModel)]="isMonthlyView" (change)="toggleTimeView()" class="toggle">
            Monthly View
          </mat-slide-toggle>
        </div>
        <div echarts [options]="sentChartOptions" class="line-chart"></div>
      </div>
    </div>
    

    <!-- Most Positive/Neutral/Negative Days -->
    <div class="stats-container">
      <div class="stat-box">
        <h3>Most Positive Day</h3>
        @if (mostPosDate != 'No data available') {
          <p class="stat-value day">{{mostPosDate | date:'longDate'}}</p>
          <p class="small">({{posDatePosts}} posts)</p>
        }
        @else {
          <p class="stat-value day">{{mostPosDate}}</p>
        }
      </div>
      <div class="stat-box">
        <h3>Most Neutral Day</h3>
        @if (mostNeutDate != 'No data available') {
          <p class="stat-value day">{{mostNeutDate | date:'longDate'}}</p>
          <p class="small">({{neutDatePosts}} posts)</p>
        }
        @else {
          <p class="stat-value day">{{mostNeutDate}}</p>
        }
      </div>
      <div class="stat-box">
        <h3>Most Negative Day</h3>
        @if (mostNegDate != 'No data available') {
          <p class="stat-value day">{{mostNegDate | date:'longDate'}}</p>
          <p class="small">({{negDatePosts}} posts)</p>
        }
        @else {
          <p class="stat-value day">{{mostNegDate}}</p>
        }
      </div>
    </div>

    <!-- Other Graphs -->
    <div class="graphs-container">
      <div class="graph pie-chart">
        <h3>Sentiment Distribution</h3>
        <div echarts [options]="sentDistributionOptions" class="chart"></div>
      </div>
      <div class="graph">
        <h3>Post Volume Over Time</h3>
        <div echarts [options]="postVolumeOptions" class="chart"></div>
      </div>
    </div>


  </mat-card>
</div>
