<div class="container">
  <mat-card class="card">
    <h1 class="title">r/WallStreetBets<br> Sentiment Analyzer</h1>
    
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Search for a stock</mat-label>
      <input
        type="text"
        matInput
        [matAutocomplete]="auto"
        [(ngModel)]="selectedStock"
      />
      <mat-autocomplete #auto="matAutocomplete">
        @for (stock of stocks; track stock) {
          <mat-option [value]="stock">{{ stock }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="button"
      (click)="getAnalysis()"
      [disabled]="!selectedStock"
    >
      Get Analysis
    </button>
  </mat-card>
</div>
